<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>newUser</title>
</head>
<body>

<form action="#" th:action="@{/updateUser}" th:object="${userToUpdate}" method="post">

    <input type="hidden" th:field="*{id}" id="id">

    <label for="firstName">Enter FirstName:</label>
    <input type="text" th:field="*{firstName}" id = "firstName"/>

    <label for="lastName">Enter LastName:</label>
    <input type="text" th:field="*{lastName}" id = "lastName"/>

    <label for="email">Enter Email:</label>
    <input type="text" th:field="*{email}" id = "email"/>

    <input type="submit" value="UpdateUser">

</form>
</body>
</html>

